.benefits-section{
    @include phones{
        width: 480px;
        height: 1000px;
    }

}

.benefits{
    display: flex;
    padding: rem(30px) rem(50px) rem(30px) rem(54px);
    @include phones{
        flex-direction: column;
        padding-left: 0px;
        padding-top: 60px;
    }
}

.benefits__item{
    flex: 1;
    position: relative;
    padding-bottom: rem(60px);
    padding-left: rem(20px);
    
       
    &:before{
        content: url(./img/decor/separator.png);
        position: absolute;
        top: rem(50px);
        right: rem(0px);
        transform: translateX(50%) ;
        color: #DADADA;
     @include tablets{
        display: none;
     }
    }
     &:last-child{
       &:before{
        display: none;
       }
     }

        }
     
    
    

    
