.benefits{
    display: flex;
    padding: rem(30px) rem(50px) rem(30px) rem(54px);
    
    @include phones{
        flex-direction: column;
    }
}

.benefits__item{
    flex: 1;
    padding: 0 3%;
    position: relative;
    padding-bottom: rem(45px);
   
    @include phones {
        padding: rem(0px);
        margin-bottom: rem(19px);
    }
    
    &:before {
        content: url(./img/decor/separator.png);
        position: absolute;
        top: rem(50px);
        right: rem(0px);
        transform: translateX(50%) ;
        color: #DADADA;
    }

    &:first-child{
        padding-left: rem(0px);
    }
    
    &:last-child{
        padding-right: rem(0px);

    &:before{
        display: none;
    }
        }
}
    
