.form{
    display: flex;

    @include tablets{
        padding: 0 19%;
        flex-direction: column;
    }

    @include phones {
        padding: rem(0px);
    }
}

.form__title{
    @include tablets {
        margin-bottom: rem(3px);
    }
}

.forms{
    display: flex;
}

.form__block{
    flex: 1;
    margin-right: rem(13px);
&:last-child{
    margin-right: rem(0px);
}   
}
.forms__input{
    width: rem(222px);
    height: rem(58px);
    border-radius: rem(4px);
}

.form__streets{
    flex: 1;
}

.forme__input{
    width: rem(460px);
    height: rem(58px);
    border-radius: rem(4px);
}

.form__col{
    flex: 1;
    margin-right: rem(20px);
    margin-left: rem(-180px);
   
     
&:last-child{
    margin-right: rem(0px);
    margin-left: rem(0px);
    margin-bottom: rem(32px);
 
    }

    @include tablets{
        margin-right: rem(0px);
    }
}

.form__row{
    display: flex;
    margin-bottom: rem(18px);
}

.form__input{
    width: rem(105.52px);
    height: (58px);
    border: none;
    padding: rem(18px) rem(11px);
    border: solid rem(3px) transparent;
    border-radius: rem(4px);
&--textarea{
    width: rem(450px);
    height: rem(152px);

&--textarea{
    height:rem(152px);
    resize: none;

&:focus{
    border-color: #dee2bd;
    outline: none;
            }
        }
    }
}

.form__controls{
    display: flex;
    flex-wrap: wrap;
    line-height: rem(22px);
    margin-bottom: rem(15px);
    

    @include phones{
    justify-content: center;
    }
}

.form__btns{
    display: flex;
    justify-content: center;
    padding-top: rem(48px);
    width: rem(253px);
}
